version: '2'
services:
  app:
    container_name: app
    build: .
    command: npm start
    ports: 
      - "8080:8080"
    env_file: 
      - .env
    depends_on: 
      - mongo
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    command: mongod --port 27018
    ports: 
      - "27018:27018"
    volumes: 
      - ./data:/data/db
    
  